
.footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
  }
  
  .social-icons a:hover {
    color: lightgray;
  }
  